%html
  %head
  %body
    %h1 Welcome to Mirage

    %p
      Below are any responses you are currently hosting.
      %br
      %br
      Click the response itself to peek at it and click 'track' to view the last request that triggered it.
      %br
      %br

      %h2 Responses
      - ::Mirage::MockResponse.all.each do |mock_response|
        #{haml :response, :locals => {:mock_response => mock_response}}